* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1, button {
 margin: 0;
 padding: 0;
}

:root {
    --color-scheme-1: radial-gradient(circle, rgb(235, 238, 174) 0%, rgb(212, 187, 116) 100%);
    --color-scheme-2: linear-gradient(319deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(61, 75, 124) 100%);
    --color-button-1: radial-gradient(circle, rgb(238, 221, 174) 0%, rgb(203, 133, 96) 100%);
    --color-button-2: rgb(31, 90, 50);
    --color-button-3: #b53030;
}

body {
    position: relative;
    background: var(--color-scheme-2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: var(--color-scheme-2);
    background: var(--color-scheme-1);
    width: fit-content;
    padding: 10px 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    align-self: center;
}

h1 {
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    font-size: 3rem;
}

#new-book-btn {
    width: 150px;
    height: 60px;
    color: var(--color-scheme-1);
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: var(--color-button-1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.481);
    align-self: center;
}

.add-book-form {
    position: absolute;
    width: 300px;
    height: 280px;
    left: calc(50vw - 150px);
    top: 200px;

    background: var(--color-scheme-1);
    
}

form > div{
    font-size: 20px;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 10px;
    margin-top: 20px;
}

form > div > label{
    justify-self: end;
}

form > div > input{
    height: 1.5rem;
    justify-self: start;
    border: 1px solid rgba(0, 0, 0, 0.467);
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    padding-left: 10px;
}

.add-btn > button{
    grid-column: 1 / 3;
    border-radius: 5px;
    background-color: var(--color-button-2);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.149);
    width: 50%;
    height: 40px;
    justify-self: center;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.book-card {
    height: 250px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    padding: 15px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.481);
    background: var(--color-scheme-1);
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    position: relative;
}

.book-title-label,
.book-author-label,
.book-pages-label{
    font-size: 0.9rem;
    color: #865151;
}

.book-title,
.book-author,
.book-pages{
    margin-top: -5px;
    margin-left: 5px;
}

.add-book-form{
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    align-items: center;
}
/*
.book-read{
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--color-button-2);
    border: 1px solid rgba(0, 0, 0, 0.133);
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.456);
}*/
.delete-btn{
    position: absolute;
    top: 210px;
    left: 120px;
    padding: 5px;
    background-color: var(--color-button-3);
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
}

.book-read-btn{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
    justify-self: start;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
}

.book-read-btn[value="read"] {
    border: none;
    background-color: green;
    color: white;
}

.book-read-btn[value="not-read"] {
    border: 2px solid var(--color-button-3);
    color: var(--color-button-3);
    background-color: var(--color-scheme-2);
}